

a{
    font-family: sans-serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color:lightslategray;
    vertical-align: text-bottom;
    height: 150px;
}

header h1{
    background-color:steelblue ;
    width: 25%;
    position: relative;
    top: 50px; left: 10px;
    padding: 1%;
    text-align: center;
    
}

nav{
    display: flex;
    justify-content: flex-end;
    
} 


nav a{
    padding: 8px;

}

h2{
    float: left;
    text-decoration: underline;
    padding-right: 5%;
    margin-left: 3%;
}
.banner{
    display:flex;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: repeating-linear-gradient(to top,steelblue,lightslategray);
    justify-content: center;
}
.aboutme{
    display: flex;
    float: right;
    margin-bottom: 3%;
}

img{
    border-radius: 20px;
    width: 100%;
    
}

.workbig{
    margin-top: 4%;
    display: flex;
    padding: 2%;
    margin-bottom: 5%;
    width: 70%;
    }

.workbox1{
    display: flex;
    position: static;
    top: 10px; left: 150px;
    border-width: thick;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    margin-right: 3%;

}

.workbox2{
    display: flex;
    position: static;
    top: 150px; left: 200px;
    border-width: thick;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    margin-right: 3%;

}

.workbox3{
    display: flex;
    position: static;
    top: 300px; right: 790px;
    border-width: thick;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
}

.cardheader{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: steelblue;
    opacity: 85%;
    padding: 2px;
}

.cardheader:hover{
    opacity: 100%;
    flex-grow: unset;
}
footer nav{
    display: flex;
    justify-content: center;
    
     
}

@media screen and (max-width: 900px){
    h1{
        font-size: 100%;
    }
    
    h2{
        font-size: 100%;
    }

    nav{
        font-size: 70%;
    }
    .workbig{
        flex-direction: column;
    }

}